<div class="modal fade" id="addExerciseModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="add-exercise-title">Add Exercise To Plan</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ csrf.fields | raw }}
                <div class="form-outline form-white mb-4">
                    <input type="text" name="name"
                        class="form-control form-control-lg"
                        placeholder="Exercise Name"/>
                </div>
                <div>
                    <input type="text" name="categoryName"
                        class="form-control form-control-lg mb-4"
                        placeholder="Category Name"/>
                </div>
                <div>
                    <input type="text" name="description"
                        class="form-control form-control-lg mb-4"
                        placeholder="Description"/>
                </div>
                <div class="mb-4" id="setsContainer">
                    <div class="form-outlilne form-white mb-4 set-input-div">
                        <input type="number" name="set1"
                            class="sets-input form-control form-control-lg "
                            placeholder="Set 1"
                            min="1"/>
                    </div>
                </div>
                <button type="button" class="btn btn-secondary add-set-btn">
                    <i class="bi bi-plus-circle me-1"></i>
                     Set
                </button>
                <button type="button" class="btn btn-secondary del-set-btn remove-set-btn">
                    <i class="bi bi-dash-circle me-1"></i>
                     Set
                </button>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary add-new-exercise-btn">
                    <i class="bi bi-plus-square me-1"></i>
                    Add Exercise
                </button>
                <button type="button" class="btn btn-success next-training-day-btn" id="save-training-day-btn">
                    <i class="bi bi-calendar-plus me-1"></i>
                    Next Training Day
                </button>
            </div>
            <div class="text-end me-3">
                <h6 id="dayCounterHeader" class="fw-light"></h6>
            </div>
        </div>
    </div>
</div>