@import "./variables.scss";
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons";
@import "~datatables.net-dt/css/jquery.dataTables.css";

* {
  font-family: 'Roboto', sans-serif !important;
}

body {
  background-color: #272829;
}

svg.icon {
  width: 25px;
  height: 25px;
}

.nav-link {
  color: #FFF6E0;

  &.active {
    background-color: inherit !important;
    color: #D8D9DA !important;
  }

  &:hover, &:focus {
    color: #D8D9DA !important;
  }
}

.text-title {
  color: #D8D9DA;
}

.content-body {
  background-color: #D8D9DA;
  min-height: 500px;
  padding: 20px 25px 25px;
}
 
.table-hidden {
  display: none;
}